version: '3.8'
services:
  n8n:
    container_name: n8n
    image: n8nio/n8n:latest
    restart: always
    user: root 
    command: bash -c "
      echo 'Installing dependencies...' &&
      npm install @sberdevices/giga-chat &&
      n8n start
    "
    ports:
      - '5678:5678' 
    volumes:
      - './data:/home/node/.n8n' 
    environment:
      NODE_ENV: production
      N8N_BASIC_AUTH_ACTIVE: true
      N8N_BASIC_AUTH_USER: admin
      N8N_BASIC_AUTH_PASSWORD: password
