services:
  n8n:
    build: .
    container_name: n8n
    restart: unless-stopped
    ports:
      - '5678:5678'
    volumes:
      - config-data:/home/node/.n8n
    environment:
      NODE_ENV: production
      N8N_BASIC_AUTH_ACTIVE: ${N8N_BASIC_AUTH_ACTIVE}
      N8N_BASIC_AUTH_USER: ${N8N_BASIC_AUTH_USER}
      N8N_BASIC_AUTH_PASSWORD: ${N8N_BASIC_AUTH_PASSWORD}
      N8N_HOST: ${N8N_HOST}
      N8N_PORT: ${N8N_PORT}
      N8N_ENFORCE_SETTINGS_FILE_PERMISSIONS: true
      N8N_RUNNERS_ENABLED: true
      N8N_SECURE_COOKIE: false

volumes:
  config-data:
